# Основные настройки
APP_NAME="FastAPI Example"
APP_VERSION="26.03" # Не будет вычисляться автоматом
APP_DESCRIPTION="FastAPI Example Description"
API_V1_PREFIX="/api/v1"
DEBUG=False
ENVIRONMENT=production

# Безопасность
SECRET_KEY=secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES="10800" # 7 дней
PASSWORD_MIN_LENGTH=8

# CORS
BACKEND_CORS_ORIGINS="http://localhost:3000,http://localhost:8000"

# Настройки базы данных
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=example_db
POSTGRES_SCHEMA=public
POSTGRES_ENGINE=asyncpg+postgresql

# Настройки соединения с БД
DATABASE_URL="asyncpg+postgresql://test:test@localhost:5432/test_db" # При заполнении не создается из значений выше
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_POOL_TIMEOUT=30
DB_ECHO=False

# Настройки Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=test
REDIS_DB=0
REDIS_SSL=False
REDIS_URL="redis://localhost:6379/0" # При заполнении верхние значения не учитываются

# Настройки кеширования
CACHE_TTL=300
CACHE_PREFIX="cache_prefix_example:"

# Настройки логирования
LOG_LEVEL=WARNING
LOG_FORMAT=json
LOG_FILE=app.logs

# Настройки email
SMTP_HOST=test.smtp.ru
SMTP_PORT=587
SMTP_USER=test
SMTP_PASSWORD=test
SMTP_USE_TLS=True
EMAILS_FROM_EMAIL=test@test.ru
EMAILS_FROM_NAME="John Doe"

# Лимитирование запросов
RATE_LIMIT_ENABLE=True
RATE_LIMIT_REQUEST=100
RATE_LIMIT_PERIOD=60